* {box-sizing: border-box;}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;

}

header {
  position: relative;
  font-family: georgia;
  float: left;
  width: 25%;
  padding: 20px;
  margin-left: 55px; 
  text-align: center;
  color: white;
  background: #4aaaa5;
}

nav {
  clear: left;
  height: 2px;
  width: 960px;
  padding: 8px; 
  text-align: center;
  color: white;
  background: #4aaaa5;
}


section {
  float: left;
  width: 960px;
  padding-top: 25px;
  padding-left: 20px;
  height: 710px;
  background: #dddddd;
}

footer {
  font-size: 10px;
  width: 960px;
  color: white;
  font-family: helvetica;
  text-align: center;
  padding: 25px;
  clear: both;
  background: #666666;
}

aside {
  text-align: left;
  float: left;
  width: 270px;
  height: 200px;
  padding: 10px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #eee;
}

article {
text-align: left;
float: left;
height: 665px;
width: 650px;
padding: 10px;
background: #fff;
}


img {
float: left;
}



h1 {
color: teal;
text-align: left;
float: top;
font-size: 24px;
font-style: bold;
padding-left: 15px;
}

h2 {
color: grey;
font-family: arial;
margin-left: 300px;
float: left;
text-align: left;
font-size: 12px;
}

h3 {
float: top;
text-align: left;
font-size: 13px:
font-style:italic;
background: #ccc;
}

h4 {
height: 7px;
font-size: 12px;
color: grey;
font-family: arial;
}

p {
font-family: arial;
font-size: 15px;
text-align: left;
}

hr {
height: 2px;
background-color: grey;  
}

a {
color: grey;
text-decoration: none;
}

.image {
height: 170px;
width: 170px;
}

.pic {
margin-right: 15px;
width:250px;
height:180px;
}


.icon {
width: 60px;
height: 60px;
padding: 2px;  
}

.short {
width: 600px;
}

.message {
width: 600px;
height: 130px;
}

#submit {
background-color: #4aaaa5;
color: white;
font-family: arial;
padding: 5px;
}

@media screen and (max-width: 960px) {
    /* new styles for this width (<= 960px) */
.image {width: 155px; height: 155px;}
header {margin-left: 165px;}
aside {margin-left: 70px;}
article {width: 260px; height: 1200px; margin-left: 150px;}
section {height: 1240px; width: 960px;}
nav {width: 960px;}
footer {width: 960px;}
p {font-size: 13px;}
}

@media screen and (max-width: 768px) {
     /* new styles for this width (<= 768px) */
header {width: 270px; margin-left: 120px;}
article {width: 500px; height: 660px; margin-left: 100px; padding-bottom: 15px;}
section {width: 768px; height: 880px;}
aside {clear: left; margin-top: 20px; padding-top: 0px; width: 500px; margin-left: 100px; height: 150px;}
.icon {height: 50px; width: 50px;}
nav {width: 768px;}
footer {width: 768px;}
h2 {margin-left: 80px;}
}

@media screen and (max-width: 640px) {
    /* new styles for this width (<= 640px) */
.image {width: 500px; height: 500px;}
.pic {width: 550px; height: 440px; margin-left: 15px;}
article {clear: left; width: 600px; height: 3200px; margin-left: 0px; padding-bottom: 15px;}
header {width: 640px; margin-left: 0px;}
h2 {font-size: 18px; clear: left; margin-left: 220px;}
section {width: 640px; height: 3450px;}
aside {clear: left; width: 600px; padding-bottom: 40px; margin-left: 0px;}
nav {width: 640px;}
footer {width: 640px;}
}